{% extends '../../base.html' %}

{% block title %} | 新增類別{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
            <br>
            <h1 class="display-4"><i class="fas fa-light fa-plus-square"></i> 新增類別</h1>
            
            <br>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group row">
                <label for="model" class="col-2 offset-1 col-form-label">名稱：</label>
                <div class="col-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="類別名稱">
                    <small class="form-text">請輸入類別的名稱</small>
                </div>
                </div>

                {% comment %} <button type="submit" class="btn btn-primary">查詢裝置</button> {% endcomment %}
                <input type="submit" class="btn btn-primary" value="新增類別">
                {% comment %} <button type="submit" class="btn btn-primary">刪除裝置</button> {% endcomment %}
                
            </form>
            </div>
        </div>
    </div>
{% endblock content %}