{% extends '../base.html' %}

{% block title %} | 首頁{% endblock title %}

{% block content %}

<!-- 大屏幕 -->
    <div class="jumbotron">

        <h1 class="display-4"><i class="fas fa-light fa-globe"></i> 大直高中POS系統</h1>
        <p class="lead">使用POS系統以管理您的訂單<i class="fas fa-light fa-smile-wink"></i></p>
        <hr class="my-4">
        <p>這個很棒</p>
        {% if user.is_authenticated %}
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">登入了解更多>></a>
        {% endif %}
    </div>
    
    <!-- 格線系統Grid System -->
    <div class="container">
        <div class="row">
          <div class="col">
            <h4><i class="fas fa-light fa-user"></i><strong> 測試用帳號</strong></h4>
            名稱：TestAccount<br>密碼：0123456789
            </div>
        </div>
      </div>

{% endblock content %}