{% extends '../base.html' %}

{% block title %} | 首頁{% endblock title %}

{% block content %}

<!-- 大屏幕 -->
    <div class="jumbotron">

        <h1 class="display-4"><i class="fas fa-light fa-globe"></i> 大直高中POS系統</h1>
        <p class="lead">使用POS系統以管理您的訂單<i class="fas fa-light fa-smile-wink"></i></p>
        <hr class="my-4">
        <p>這個很棒</p>
        {% if user.is_authenticated %}
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">登入了解更多>></a>
        {% endif %}
    </div>
    
    <!-- 格線系統Grid System -->
    {% comment %} <div class="container">
        <div class="row">
          <div class="col">
            <h4><i class="fas fa-light fa-user"></i><strong> 作為用戶，</strong></h4>
            您可以輕鬆登錄並方便地記錄您手上的裝置。再也不用擔心忘記裝置的規格或遺失重要信息。通過我們的用戶界面，您可以一目瞭然地查看和管理您的裝置信息，隨時進行更新和維護。</div>
          <div class="col">
            <h4><i class="fas fa-light fa-user-tie"></i><strong> 作為管理員，</strong></h4>
            您可以通過管理員賬號和密碼快速登錄。一旦登錄成功，您將獲得對用戶和裝置的全面管理權限。您可以輕松地創建、編輯和刪除用戶帳號，確保系統的安全性和完整性。此外，您還可以查看和管理用戶的裝置信息，確保裝置數據的準確性和及時性。<br><br><br></div>
        </div>
      </div> {% endcomment %}

{% endblock content %}